/* Base CSS reset, font and color variable declarations etc.. */
@import url("./base/reset.css");
@import url("./base/colors.css");
@import url("./base/fonts.css");

/* Reusable component styling imports. */
@import url("./components/card.css");
@import url("./components/loading-container.css");
@import url("./components/pixel-button.css");

/* Global styles. */
body {
    background-color: var(--clr-slos8-100);
    color: var(--clr-slos8-800);
    font-family: var(--ff-impixel);
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 2rem;
}

#root div.content {
    display: flex;
    flex-direction: column;
    /* padding: 0 2rem; */
}
