/* Base CSS reset, font and color variable declarations etc.. */
@import url("./base/reset.css");
@import url("./base/colors.css");
@import url("./base/fonts.css");

/* Reusable component styling imports. */
@import url("./components/card.css");
@import url("./components/loading-container.css");
@import url("./components/pixel-button.css");
@import url("./components/pixel-container.css");

/* Global styles. */
body {
    /* background-color: var(--clr-slos8-100); */
    /* background-color: var(--clr-neutral-200); */
    color: var(--clr-slos8-800);
    font-family: var(--ff-impixel);
    /* overflow: hidden; */
    height: calc(100svh - 8px);
    display: flex;
    flex-direction: column;
}

#root {
    box-sizing: border-box;
    background-color: var(--clr-slos8-100);
    color: var(--clr-slos8-100);
    /* height: calc(90% - 16px); */
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    margin: auto;
    /* padding: 2rem 2rem; */
    /* align-self: flex-start; */
    justify-self: flex-end;
    flex-grow: 1;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
}

#root div.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 0 2rem; */
}

.loading {
    display: flex;
    flex-direction: column;
}

.loading > p {
    position: relative;
    font-size: 1.25rem;
    margin: auto;
    padding: 1rem;
    color: var(--clr-slos8-800);
}

.loading-bar {
    height: 20px;
    width: 150%;
    position: relative;
    right: 25%;
}

.loading-bounce {
    background-color: var(--clr-slos8-300);
    color: var(--clr-slos8-300);
    height: 100%;
    width: 32px;
    position: relative;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes changewidth {
    from {
        left: 0;
    }

    50% {
        width: 40px;
    }

    to {
        left: calc(100% - 32px);
    }
}

nav.pixel-container {
    color: var(--clr-slos8-100);
    background-color: var(--clr-slos8-100);
    width: calc(100% - 16px);
    margin: 8px auto 12px;
    /* margin: 2rem; */
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav > button.pixel-button + button {
    margin: 0 !important;
    margin-left: 0.5rem !important;
    /* color: white; */
}

nav > button p {
    font-size: 0.75rem;
}

nav > button div {
    padding: 5px !important;
}