/* Import custom pixel font. */
@font-face {
    font-family: "Impixel";
    src: url("../../../../admin/assets/fonts/Impixel.ttf") format("truetype");
}

:root {
    --ff-impixel: "Impixel", monospace;
    --ff-primary: "Courier New", Courier, monospace;
}