.pixel-button {
    border-style: none;
    background-color: transparent;
    max-width: 500px;
    width: 100%;
    /* width: clamp(200px, 100%, 500px); */
}

.pixel-button + .pixel-button {
    margin-top: 2rem;
}

.pixel-button > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--clr-slos8-200);
    color: var(--clr-slos8-200);
    box-shadow:
        0px -2px,
        2px 0px,
        0px 2px,
        -2px 0px,
        2px -2px var(--clr-slos8-800),
        2px 2px var(--clr-slos8-800),
        -2px 2px var(--clr-slos8-800),
        -2px -2px var(--clr-slos8-800),
        0px -4px var(--clr-slos8-800),
        4px 0px var(--clr-slos8-800),
        0px 4px var(--clr-slos8-800),
        -4px 0px var(--clr-slos8-800),
        6px 2px var(--clr-slos8-800),
        2px 6px var(--clr-slos8-800),
        4px 4px var(--clr-slos8-800);
}

.pixel-button > div > p {
    color: var(--clr-slos8-800);
    margin: 0;
    align-self: center;
}

body.hoverable .pixel-button:hover > div {
    background-color: var(--clr-slos8-300);
    color: var(--clr-slos8-300);
    box-shadow:
        0px -2px,
        2px 0px,
        0px 2px,
        -2px 0px,
        2px -2px var(--clr-slos8-800),
        2px 2px var(--clr-slos8-800),
        -2px 2px var(--clr-slos8-800),
        -2px -2px var(--clr-slos8-800),
        0px -4px var(--clr-slos8-800),
        4px 0px var(--clr-slos8-800),
        0px 4px var(--clr-slos8-800),
        -4px 0px var(--clr-slos8-800),
        6px 2px var(--clr-slos8-800),
        2px 6px var(--clr-slos8-800),
        4px 4px var(--clr-slos8-800);
}

.pixel-button:active > div {
    background-color: var(--clr-slos8-300);
    color: var(--clr-slos8-300);
    box-shadow:
        0px -2px,
        2px 0px,
        0px 2px,
        -2px 0px,
        2px -2px var(--clr-slos8-800),
        2px 2px var(--clr-slos8-800),
        -2px 2px var(--clr-slos8-800),
        -2px -2px var(--clr-slos8-800),
        0px -4px var(--clr-slos8-800),
        4px 0px var(--clr-slos8-800),
        0px 4px var(--clr-slos8-800),
        -4px 0px var(--clr-slos8-800) !important;
    margin: 2px -2px -2px 2px;
}

.pixel-button svg {
    position: absolute;
    right: 0.5em;
}
